<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ethan Cooley</title>
    <meta name="description" content="Personal Portfolio.">
    <meta name="keywords"
        content="Ethan Cooley, Ethan, Cooley, Images, Student, Engineer, Wake Forest University, Software, Data">
    <meta name="author" content="EFC">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- iOS Favicon -->
    <link rel="apple-touch-icon" href="../static/img/logoEC.png">
    <!-- Cosmo Bootstrap Theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css"
        integrity="sha384-9/chHLTCcBULgxOFoUyZXSgEF0uFXs+NrQqzcy/DXqcR+Sk8C1l4EgmUXAEzTb92" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/main.css">
    <meta name="theme-color" content="#fff">
    <script src="https://kit.fontawesome.com/b0c0816f17.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <span class="logo-text">EC</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor03">
            <div class="navbar-right">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/projects">PROJECTS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/research">RESEARCH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="projects">
        <div class="text-center mr-5 ml-5">
            <div>
                <h2>Projects</h2>
            </div>
            <div class="mt-4 mb-2">I have used Python, C++, Swift, Dart, and JavaScript for a variety of
                applications.</div>
            <p>Check out some of my projects below. </p>
            <div class="row justify-content-center">

                <!-- Card 1 -->
                <div class="col-md-4">
                    <div class="card mt-3 mb-4">
                        <h5 class="card-header">Money Tracker</h5>
                        <img class="p-img" src="../static/img/nick-pampoukidis-t-UV1rZqPuY-unsplash.jpg"
                            alt="Money Tracker image">
                        <div class="list-group-item">
                            Python
                        </div>
                        <div class="card-body">
                            <p class="card-text">Developed a program that processes and manages transactions,
                                balance, debt, status, and more.</p>
                            <a class="btn btn-primary" target="_blank"
                                href="https://github.com/ethancooley/Money-Tracker" id="submit-button">Github</a>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4">
                    <div class="card mt-3 mb-4">
                        <h5 class="card-header">Wordpair Generator</h5>
                        <img class="p-img" src="../static/img/charles-deluvio-Dilfan21P8o-unsplash.jpg"
                            alt="Wodpair Generator image">
                        <div class="list-group-item">
                            Swift, Dart, Kotlin
                        </div>
                        <div class="card-body">
                            <p class="card-text">Developed an iOS/Android app through Flutter that randomly
                                generates wordpairs. Users can then save their favorite wordpairs into a list.</p>
                            <a class="btn btn-primary" target="_blank"
                                href="https://github.com/ethancooley/WordPair-Generator" id="submit-button">Github</a>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4">
                    <div class="card mt-3 mb-4">
                        <h5 class="card-header">Battleship</h5>
                        <img class="p-img" src="../static/img/glenn-carstens-peters-0woyPEJQ7jc-unsplash.jpg"
                            alt="Battleship image">
                        <div class="list-group-item">
                            C++
                        </div>
                        <div class="card-body">
                            <p class="card-text">Built a battleship game through C++ using object-oriented design.
                            </p>
                            <a class="btn btn-primary" target="_blank" href="https://github.com/ethancooley/Battleship"
                                id="submit-button">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="projects">
        <div class="container-fluid mt-4 text-center" id="software-engineering">
            <h3 class="mt-5">Software Engineering</h3>
            <div class="container-fluid mt-3">
                <div class="mt-4 mb-2 mr-sm-3 ml-sm-3 mr-lg-5 ml-lg-5">
                    <p> In the summer 2020 I worked as a software engineer for a start-up company in Raleigh,
                        NC called memoryCrafters LLC. I designed several UI prototypes and mock-ups using Adobe XD, then
                        led
                        the full-stack development of a dynamic mobile-first web application using HTML, CSS, Bootstrap,
                        JavaScript, jQuery, 
                        AJAX,
                        and Firebase that features user authentication, scalability, and responsive design. </p>
                    <p> By the end of the summer, the site gained serious traction as
                        hundreds of users from around the world were engaging in the web app. As a result of this, the
                        start-up company attracted new investors, professional advisors, and gained acceptance to
                        Launch
                        Chapel Hill– an award-winning start-up accelerator and co-working space dedicated to new
                        ventures
                        in the Raleigh/Durham area.</p>
                    <p>As of August 2020, the site has 275+ active users from three different countries (as reported by
                        Google Analytics).</p>
                    <p>Below is a link to the website, where you can find everything I
                        worked on over the summer including UI design prototypes, user
                        authentication, and overall fluid & responsive web development.</p>
                    <a href="https://memory-crafters.com" target="_blank"><i class="fa fa-link" aria-hidden="true"></i>
                        memoryCrafters LLC</a>
                    <div class="mt-4 mb-5">
                        <a href="https://github.com/memoryCrafters/memorycrafters.github.io" target="_blank"><i
                                class="fab fa-github fa-3x fa-fw" style="color: #211F1F"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center w-50 mb-5 mt-5">
        <img class="w-25" src="../static/img/logoEC.png">
    </div>

    <!-- Bootstrap js / jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>



</body>

</html>